@use 'vars';

* {
    margin: 5px 0;
}

.simple-link {
    text-decoration: none;
    color: vars.$primary-color;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
        color: vars.$primary-color;
    }
}

@media screen and (min-width: 800px) {
    .container {
        max-width: 700px;
        margin: auto;
    }
}
@media screen and (max-width: 800px) {
    .container {
        max-width: calc(100vw - 50px);
        margin: auto;
    }
}

.center {
    text-align: center;
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.vertical-gap {
    height: 15px;
}