@use 'vars';

.header {
    .contact-icon {
        margin: 0 5px;
    }

    .headshot {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }

    .header-grid {
        display: inline-grid;
        grid-template-columns: auto auto;
        column-gap: 50px;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #999;
    margin: 20px auto;
}