.career-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0;
}

.career-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.career-item {
  $bar-color: #333;

  display: flex;
  flex-direction: row;
  gap: 10px;

  &__timeline {
    width: 100px;
    text-align: right;
    font-size: 15px;
  }

  &__bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: $bar-color;
  }

  &__bar {
    width: 2px;
    background-color: $bar-color;
    flex: 1;
  }

  &__text {
    width: 540px;
    margin: 0;
    font-size: 15px;
  }


  &__title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 400;
  }

  &__venue {
    font-weight: 300;
    font-size: 18px;
  }

  &__description {
    text-align: justify;
    line-height: 22px;
    p {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    &__timeline {
      font-size: 15px;
      width: 0px;
      display: none;
    }

    &__title {
      font-size: 15px;
    }

    &__venue {
      font-size: 15px;
    }

    &__text {
      width: 100%;
      min-width: unset;
    }

    &__description {
      font-size: 12px;
      line-height: 15px;
    }

  }

}