.career-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.career-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.career-item {
  $bar-color: #333;

  display: flex;
  flex-direction: row;
  gap: 10px;

  &__timeline {
    width: 120px;
    text-align: right;
  }

  &__bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: $bar-color;
  }

  &__bar {
    width: 2px;
    background-color: $bar-color;
    flex: 1;
  }

  &__text {
    max-width: 500px;
    margin: 0;
  }

  &__title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 400;
  }

  &__venue {
    font-weight: 300;
    font-size: 18px;
  }

  &__description {
    p {
      font-size: 15px;
      text-align: justify;
      margin-bottom: 15px;
      line-height: 22px;
    }
  }

}