@use "../variables" as *;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__title {
    width: 32%;
    text-align: center;
  }

  &__nav {
    width: 60%;
    text-align: right;
  }
}