@use '../variables' as *;


.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32%;

    &__image {
      width: 100%;
      height: 100%;
      max-width: 300px;
      aspect-ratio: 1 / 1;
      border-radius: 30px;
      margin-bottom: 30px;
      overflow: hidden;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    }

    &__title {
      text-align: center;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__location {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      font-weight: 400;
      gap: 5px;
      color: $secondary-color;

      svg {
        margin-bottom: 3px;
      }
    }
  }

  &__right {
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__bio {
      display: flex;
      flex-direction: column;
      line-height: 25px;
      gap: 20px;
    }
  }

  // Media query for smaller screens
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    &__left {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;

      &__image {
        width: 100%;
        max-width: 250px;
        height: auto;
      }
    }

    &__right {
      width: 100%;

      &__social-links {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 5px;
      }
    }
  }
}
