@use '../variables' as *;

.publications {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    font-size: 15px;
    margin: 9px 0;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0rem;
  }

  &__authors {
    margin-bottom: 0.5rem;

    .myself {
      font-weight: 400;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__abstract {
      text-align: justify;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &--visible {
        max-height: 1000px;
        opacity: 1;
      }
    }

    &__venue {
      font-weight: 500;
      display: flex;
    }

    &__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 15px;
      margin-top: 5px;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;

        p {
          margin-left: 5px;
          margin-top: 3px; // To align icon with text
        }
      }
    }
  }
}
