@import 'tailwindcss';
@import '@fontsource/source-serif-pro/300.css';
@import '@fontsource/source-serif-pro/400.css';
@import '@fontsource/source-serif-pro/600.css';

/* 
:root {
  color-scheme: light dark;
} */

@theme {
  --color-primary: light-dark(#333, oklch(0.923 0.003 48.717));
  --color-secondary: light-dark(#666, #aaa);
  --color-background: light-dark(#fff, #171717);
  --color-accent: light-dark(#4a90e2, #447ab8);

  /* Font weight overrides for Source-Sans */
  --font-weight-normal: 300;
  --font-weight-medium: 400;

  /* Colors for accordian */
  --color-comp-gray-100: light-dark(#e0e0e0, #323232);
  --color-comp-gray-200: light-dark(#aaa, #787878);

  --shadow-profile-pic: 4px 4px 4px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

/* Custom styles that should not be purged by Tailwind */
@layer base {
  body {
    font-family: 'Source Serif Pro', serif;
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
    background-color: var(--color-background);

    /* font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-medium);
    margin-bottom: 1rem;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}
