// Import variables - must be at the very top
@use 'variables' as *;
@use 'components/header';
@use 'components/profile';
@use 'components/publications';
@use 'components/footer';
@use 'components/progressive-image';
@use 'components/accordian';

/* Import Source Serif Pro font */
@import '@fontsource/source-serif-pro/300.css';
@import '@fontsource/source-serif-pro/400.css';
@import '@fontsource/source-serif-pro/600.css';
@import '@fontsource/source-serif-pro/700.css';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base styles
body {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 18px;
  color: $primary-color;
  line-height: 1.6;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  color: $primary-color;
  text-decoration: underline;
  transition: all 0.1s ease-in;

  &:hover {
    color: $accent-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Layout
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
}

.section {
  margin-top: 60px;

  &-title {
    font-size: 30px;
  }
}

// Remove the footer styling from here
